In [1]:
tabla=[("Marta",25),
      ("Pedro",30),
      ("María",24)]

In [2]:
df=spark.createDataFrame(tabla,["nombre","edad"])

In [3]:
df.show()

+------+----+
|nombre|edad|
+------+----+
| Marta|  25|
| Pedro|  30|
| María|  24|
+------+----+

In [4]:
df.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- edad: long (nullable = true)

In [5]:
df.collect()

[Row(nombre='Marta', edad=25),
 Row(nombre='Pedro', edad=30),
 Row(nombre='María', edad=24)]

In [6]:
df.rdd

MapPartitionsRDD[13] at javaToPython at NativeMethodAccessorImpl.java:0

In [7]:
df.count()

3

In [8]:
df.describe().show()

+-------+------+------------------+
|summary|nombre|              edad|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null|26.333333333333332|
| stddev|  null|3.2145502536643185|
|    min| Marta|                24|
|    max| Pedro|                30|
+-------+------+------------------+

In [9]:
df.summary().show()

+-------+------+------------------+
|summary|nombre|              edad|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null|26.333333333333332|
| stddev|  null|3.2145502536643185|
|    min| Marta|                24|
|    25%|  null|                24|
|    50%|  null|                25|
|    75%|  null|                30|
|    max| Pedro|                30|
+-------+------+------------------+

In [10]:
dfp=df.toPandas()

In [11]:
dfp

In [12]:
dfp.plot.bar(x="nombre")

In [13]:
from autovizwidget.widget.utils import display_dataframe
display_dataframe(dfp)

VBox(children=(HBox(children=(HTML(value='Type:'), Button(description='Table', layout=Layout(width='70px'), st…

Output()

AutoVizWidget()

In [14]:
df.select("edad","nombre").show()

+----+------+
|edad|nombre|
+----+------+
|  25| Marta|
|  30| Pedro|
|  24| María|
+----+------+

In [15]:
df.select("nombre",(df.edad+10)\
          .alias("edad ahora")).show()

+------+----------+
|nombre|edad ahora|
+------+----------+
| Marta|        35|
| Pedro|        40|
| María|        34|
+------+----------+

In [16]:
df.where("edad=30").show()

+------+----+
|nombre|edad|
+------+----+
| Pedro|  30|
+------+----+

In [17]:
df.where(df.edad==30).show()

+------+----+
|nombre|edad|
+------+----+
| Pedro|  30|
+------+----+

In [18]:
tabla

[('Marta', 25), ('Pedro', 30), ('María', 24)]

In [19]:
from pyspark.sql.types import (StructType,StructField,
                               ByteType,StringType)

In [20]:
estructura=StructType([
    StructField("nombre",StringType()),
    StructField("edad",ByteType())
])

In [21]:
df2=spark.createDataFrame(tabla,estructura)

In [22]:
df2.printSchema()

root
 |-- nombre: string (nullable = true)
 |-- edad: byte (nullable = true)

In [23]:
df2.show()

+------+----+
|nombre|edad|
+------+----+
| Marta|  25|
| Pedro|  30|
| María|  24|
+------+----+