In [1]:
from pyspark.sql.types import *

In [2]:
estructura=StructType([
    StructField("Producto",StringType()),
     StructField("Año",DecimalType(4,0)),
    StructField("Precio",DecimalType(8,2))
])

In [3]:
df=spark.read.json("ventas.json",estructura)

In [4]:
df.show()

+--------+----+-------+
|Producto| Año| Precio|
+--------+----+-------+
|    moto|null|1000.00|
|   coche|null|2000.00|
|    bici|null| 200.00|
|   coche|2015|3000.00|
+--------+----+-------+

In [5]:
df2=df.select("Producto","Año","Precio")

In [6]:
df2.show()

+--------+----+-------+
|Producto| Año| Precio|
+--------+----+-------+
|    moto|null|1000.00|
|   coche|null|2000.00|
|    bici|null| 200.00|
|   coche|2015|3000.00|
+--------+----+-------+

In [7]:
df2.printSchema()

root
 |-- Producto: string (nullable = true)
 |-- Año: decimal(4,0) (nullable = true)
 |-- Precio: decimal(8,2) (nullable = true)

In [8]:
df2.count()

4

In [9]:
df2.summary().show()

+-------+--------+---------+------------------+
|summary|Producto|      Año|            Precio|
+-------+--------+---------+------------------+
|  count|       4|        1|                 4|
|   mean|    null|2015.0000|       1550.000000|
| stddev|    null|      NaN|1215.1817422372123|
|    min|    bici|     2015|            200.00|
|    25%|    null|   2015.0|             200.0|
|    50%|    null|   2015.0|            1000.0|
|    75%|    null|   2015.0|            2000.0|
|    max|    moto|     2015|           3000.00|
+-------+--------+---------+------------------+

In [10]:
dfp=df2.select("Producto",df2.Precio.cast("float"))\
.toPandas()

In [11]:
dfp

In [12]:
dfp.plot.bar(x="Producto",y="Precio")

In [13]:
grupo=df2.groupBy("Producto")

In [14]:
grupo.sum("Precio").show()

+--------+-----------+
|Producto|sum(Precio)|
+--------+-----------+
|   coche|    5000.00|
|    moto|    1000.00|
|    bici|     200.00|
+--------+-----------+

In [15]:
grupo.count().show()

+--------+-----+
|Producto|count|
+--------+-----+
|   coche|    2|
|    moto|    1|
|    bici|    1|
+--------+-----+